body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  text-align: center;
  /* border: grey solid 1px; */
  width: 360px;
  height: 360px;
  background: white;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 5px #353333;
  background-image: url(https://i.pinimg.com/474x/d2/94/89/d29489710f3b44f94f80e76cfacd0a5c.jpg);
  background-size: 490px;
  background-position: center;
}

  .likeBtn {
    height: 38px;
    padding: 0 30px;
    font-size: 11;
    background-color: transparent;
    border-radius: 6px
  }

  .column {
    float: left;
    /* width: 25%; */
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    background-image: linear-gradient(silver, white);
    color: rgba(2, 2, 102, 0.767);
  }

  small {
    font-size: medium;
    font-weight: bold
  }

  img {
height: auto;
width: auto;
  }